:root {
  --blue: #1b72e8;
  --blue-dark: #051E34;
  --gray: #E5E5E5;
  --ligray: #efefef;
  --orange: #FF8F00;
}


/* General */



/* Utilities */
.fm-top-bar {
  height: 6vh;
  background-color: rgb(248, 249, 250);
}

.test {
  background-color: rgba(0, 106, 255, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

.test2 {
  background-color: rgba(0, 8, 255, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

/* navbar */

.search .fa-search{
  position: absolute;
  top: 30%;
  left: 20px;
}

.fm-top-bar .form-control{
  background-color: var(--gray);
}

.fm-top-bar .fa-bell{
  color: var(--orange);
}

header .fa-solid{
  cursor: pointer;
}

/* Style Main */

.fm-main-wrapper {
  height: calc(100% - 10vh);
  width: 100%;
}

main {
  padding-top: 60px;
}

/* Top bar blue with canvas */
span.fm_badge{
  background-color: rgba(0, 0, 0, .3);
  vertical-align: middle;
  font-size: 0.7rem;
  font-weight: 500;
}

.blue-top span{
  padding-bottom: 7px;
}

.fm_fs-7{
  font-size: 0.7rem;
}

.offcanvas {
  --bs-offcanvas-width: 500px;
}

main .aside{
  flex-shrink: 0;
  height: 100%;
  background-color: var(--blue-dark);
  background-image: url(../img/sidebar-bg.png);
}

.aside ul li{
  list-style: none;
}

.aside i{
  font-size: 14px;
}

.aside span{
  font-size: 14px;
  padding-left: 5px;
}

.row-cols-1 h3{
  background-color: var(--ligray);
}

/* Table Prossime classi */
table .image{
  width: 25px;
}

