:root {
  --blue: #1b72e8;
  --blue-dark: #051E34;
  --gray: #E5E5E5;
  --ligray: #efefef;
  --orange: #FF8F00;
}


/* General */




/* Utilities */
.fm-top-bar {
  height: 9vh;
  background-color: rgb(248, 249, 250);
}

.logo-header {
  margin: 0 auto;
}

.test {
  background-color: rgba(0, 106, 255, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

.test2 {
  background-color: rgba(0, 8, 255, 0.2);
  border: 1px solid black;
  min-height: 30px;
}

/* navbar */

.search .fa-search{
  position: absolute;
  top: 35%;
  left: 20px;
}

.fm-top-bar .form-control{
  background-color: var(--gray);
}

.fm-top-bar .fa-solid{
  padding-left: 15px;
}

.fm-top-bar .fa-bell{
  color: var(--orange);
}

.col .fa-solid.fa-bell{
  cursor: pointer;
}

/* Style Main */

.fm-main-wrapper {
  height: calc(100% - 10vh);
  width: 100%;
}

main {
  padding-top: 60px;
}

main .aside{
  flex-shrink: 0;
  height: calc(100vh - 60px);
  background-color: var(--blue-dark);
  background-image: url(../img/sidebar-bg.png);
}

.aside ul li{
  list-style: none;
}

.aside i{
  font-size: 14px;
}

.aside span{
  font-size: 14px;
  padding-left: 5px;
}

.row-cols-1 h3{
  background-color: var(--ligray);
}

